@import 'lips/bootstrap-reboot.min';
@import 'lips/bootstrap-grid.min';
@import 'lips/fonts';
@import 'lips/slick';

@import 'base/variables';


* {
    font-family: 'Roboto', 'Roboto-Condensed';
}

.container {
    max-width: 1140px;
}



@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/reasons';
@import 'blocks/subtitle';
@import 'blocks/descr';
@import 'blocks/works';
@import 'blocks/round';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/forms';
@import 'blocks/manager';
@import 'blocks/scheme';
@import 'blocks/feed';