.button {
    width: 160px;
    height: 45px;
    background-color: $main_color;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    &:hover {
        background-color: #dc5238;
    }
    &_menu {
        margin-top: 21px;
    }

    &_main {
        display: block;
        margin: 0 auto;
        margin-top: 39px;
        width: 230px;
        height: 57px;
        font-size: 15px;
    }
   
}