.descr {
    min-width: 409px;
    margin-left: 20px;
    &_work {
        min-width: 104px;
        margin-left: 0;
        margin-top: 28px;
    }
    &__scheme {
        margin-top: 8px;
        min-width: 250px;
        margin-left: 0;
        text-align: center;
        &_w260 {
            max-width: 260px;
        }
       
    }
}