.promo {
    padding: 23px 0 82px 0;
    min-height: 680px;
    background: url('../../img/main.jpg') center (center/cover) no-repeat;
    &__text {
        margin-top: 9px;
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
    &__subheader {
        margin-top: 1px;
        font-size: 42px;
        font-weight: 401;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
    &__item {
        margin-top: 27px;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 250px;
    }
    &__descr {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
    &__icon {
        width: 63px;
        height: 63px;
    }
}
h1 {
    margin-top: 26px;
    font-size: 72px;
    font-weight: 701;
    text-transform: uppercase;
    color: $main_color;
    text-align: center;
}
hr.white {
    width: 809px;
    height: 1px;
    background-color: #ffffff;
}
