.title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    text-align: center;
    &_white {
        margin-top: 20px;
        color: #ffffff;
        text-transform: none;
    }
    &_order {
        margin-top: 56px;
        font-size: 28px;
        font-weight: 400;
        color: #3a3a3a;
    }
}

.undertitle {
    margin-top: 38px;
    font-size: 21px;
    font-weight: 300;
    color: #2e2e2e;
    text-align: center;
    &_mt17 {
        margin-top: 17px;
    }
    &_white {
        margin-top: 22px;
        font-size: 19px;
        color: #ffffff;
        &_mt18 {
            margin-top: 18px;
        }
    }
    &__price {
        margin-top: 17px;
    }
}